/* src/components/CareerInfo.css */
.career-info {
  font-family: Arial, sans-serif;
  background-color: #292d3e; /* Dark purple background color */
  color: #fff; /* Text color */
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.career-path {
  background-color: #3e4156; /* Darker purple background for career paths */
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; /* Hover animation for background color */
}

.career-path:hover {
  background-color: #535874; /* Darker background on hover */
}

.career-path h2 {
  color: #007bff;
  font-size: 1.5rem;
  margin: 0;
}

.career-path p {
  color: #fff; /* Text color for career path descriptions */
  margin: 10px 0;
}
